doctype html
html(lang='en')
  include head.jade
  body

    .hero
      .hero-img.full
      .overlay.full
        .hero-text
          h1
            | Champion of Efficiency,
            br
            | Creative Producer,
            br
            | Cross-Team Whisperer,
            br
            | Small Space Designer,
            br
            | Cook.
          h2 Allison E Ryan
          ul
            li
              //- i.fa.fa-linkedin
              a(href='https://www.linkedin.com/in/ambitiousallisonryan', target='_blank') LinkedIn
            //- li
            //-   i.icon-location
            //-   a(href='http://wearemadeinny.com/', target='_blank') NYC
            //- li
            //-   i.icon-briefcase
            //-   a(href='https://www.birchbox.com', target='_blank') Birchbox
    .text
      p
        | Hi! Thanks for coming by. Maybe you saw my #[a(href='https://www.instagram.com/p/Bk3tjgLlj33/?taken-by=zebeeie', target='_blank') design work]? Maybe we discussed #[a(href='https://www.linkedin.com/in/ambitiousallisonryan', target='_blank') operations] or tech together at an event? Or maybe you’ve tried my #[a(href='https://www.instagram.com/p/BJniUtHh7rl/?taken-by=givemesnacks', target='_blank') cooking]! In any case, keep in #[a(href='https://www.linkedin.com/in/ambitiousallisonryan', target='_blank') touch] and feel free to reach out if you need:
        ul
          li Small space design planning
          li Pizza recipes
          li Workflow design / optimization
          li Business analysis
        | Also, check out #[a(href='https://gsw.nyc', target='_blank') this guy].
      img.my-pic(src='/img/allison-ryan2.jpg' alt='Allison Ryan picture')

    include scripts.jade
