doctype html
html(lang='en')
  include head.jade
  body
    
    .hero
      .hero-img.full
      .overlay.full
        .hero-text
          h1 Champion of Efficiency,#[br] Creative Producer,#[br] Cross-Team Whisperer,#[br] Cook.
          h2 Allison E Ryan
          ul
            li
              //- i.fa.fa-linkedin
              a(href='https://www.linkedin.com/in/ambitiousallisonryan', target='_blank') LinkedIn
            //- li
            //-   i.icon-location
            //-   a(href='http://wearemadeinny.com/', target='_blank') NYC
            //- li
            //-   i.icon-briefcase
            //-   a(href='https://www.birchbox.com', target='_blank') Birchbox
    .text
      p.
        Hi! Thanks for coming by. You may have 3D printed with me at #[a(href='https://www.makerbot.com', target='_blank') MakerBot],
        or maybe tried beauty samples with me at #[a(href='https://www.birchbox.com', target='_blank') Birchbox].
        Or discussed space / tech / documentaries / dinosaurs with me at an event.
        In any case, keep in #[a(href='https://www.linkedin.com/in/ambitiousallisonryan', target='_blank') touch]!
        Also, #[a(href='https://www.gsw.nyc', target='_blank') this guy]. #[i.fa.fa-heart]
      img(src='/img/allison-ryan2.jpg' alt='Allison Ryan picture' class='my-pic')

    include scripts.jade
