doctype html
html(lang='en')
  include head.jade
  body
    
    .hero
      .hero-img.full
      .overlay.full
        .hero-text
          h1 Creative Organizer,#[br] Champion of Process,#[br] Cook.
          h2 Allison Ryan
          ul
            li
              i.icon-location
              a(href='https://en.wikipedia.org/wiki/NYC') NYC
            li
              i.icon-briefcase
              a(href='https://www.birchbox.com') Birchbox
    .text
      p.
        Hey, you! Thanks for coming by. You may have 3D printed with me at #[a(href='http://www.makerbot.com') MakerBot],
        or know me for my love of dinosaurs. Or space. Or documentaries. In any case, feel free
        to keep in touch on #[a(href='http://www.facebook.com/zebeeie') Facebook]
        or #[a(href='http://www.linkedin.com/profile/view?id=31867305') LinkedIn].
        Also, #[a(href='http://www.gsw.nyc') this guy].
      img(src='/img/allison-ryan2.jpg' alt='Allison Ryan picture' class='my-pic')

    include scripts.jade
